{% extends "layout.html" %}
{% block title %}Confirmed{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<!-- Add your site or app content here -->
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">03 : Contact me</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        Thank you for your message.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
                        title="Create website with free html template">Mashup Template</a>/<a
                        href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}